<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>403</title>
<link href="${request.contextPath}/css/error.css" rel="stylesheet" type="text/css" />
${jsContext}
<script type="text/javascript" src="${request.contextPath}/js/commonPage.js"></script>
</head>
<body>
	<div class="page_show">
	    <div class="error" >
	        <div class="m_b_large">
	            <h1 class="h white">403</h1>
	        </div>
	        <div class="blue_large"><i class="error_img"></i>对不起，权限不足</div>
	        <div><input name="button22" type="button" class="btn_b_green" onclick="commonRefresh();" value="刷新页面" style="cursor: pointer;" /></div>
	    </div>
	</div>
</body>
</html>